/* GENERAL */
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Papyrus", fantasy;
  background: linear-gradient(to bottom, #e52b2b, #f9d423);
  color: white;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: red;
}

header {
  text-align: center;
  padding: 20px;
  position: relative;
}

.logo {
  position: absolute;
  top: 15px;
  left: 25px;
  width: 150px;
}

h1 {
  font-size: 60px;
  margin: 10px 0;
  font-weight: bold;
  font-family: "Papyrus", fantasy;
}

nav {
  margin-top: 15px;
}

nav button {
  background: #a5a5a5;
  border: none;
  border-radius: 25px;
  padding: 12px 28px;
  margin: 8px;
  color: black;
  font-size: 25px;
  font-weight: 800;
  cursor: pointer;
  font-family: "Papyrus", fantasy;
}

nav button.activo {
  background: white;
  color: black;
}

/* MAIN */
main {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5px;
}

/* LADO IZQUIERDO */
.lado-izq {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
}

.cuadro {
  width: 250px;
  height: 200px;
  background: #ccc;
  margin: 15px 0 30px 0;
}

.circulo {
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  margin-top: 15px;
}

.lado-der .resultados {
  width: 700px;
  height: 400px;
  background: white;
  border: 5px solid #ddd;
}

.acciones {
  text-align: center;
  margin: 0;
}

.sortear {
  background: #4caf50;
  color: white;
  border: none;
  padding: 15px 35px;
  font-size: 22px;
  cursor: pointer;
  border-radius: 12px;
}

.play {
  background: transparent;
  color: white;
  border: none;
  font-size: 40px;
  margin-left: 5px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 5px;
  font-size: 20px;
}

label {
  font-size: 40px;
  font-weight: 800;
}
